//Colors
$sigepec-color-primary: #69D1C5;
$sigepec-color-primaryHover: #3BA99C;
$sigepec-color-primaryAccent: rgb(199, 255, 232);

//Systems
$sigepec-color-danger: #EF233C;
$sigepec-color-dangerAccent: #ffa7b1;
$sigepec-color-warning: #F4B942;
$sigepec-color-warningAccent: #ffe5b3;
$sigepec-color-success: #06A77D;
$sigepec-color-info: #0B3948;
$sigepec-color-infoAccent: #d5f4ff;
$sigepec-color-background: #EDF2F4;
$sigepec-color-text: #0C120C;
$sigepec-color-white: #fff;
$sigepec-color-black: #000;

//Font Styles
$sigepec-font-regular: "Author-Regular", sans-serif;
$sigepec-font-medium: "Author-Medium", sans-serif;
$sigepec-font-italic: "Author-Italic", sans-serif;
$sigepec-font-bold: "Author-Bold", sans-serif;